.dropdown-menu {
  background: red;
  width: auto;
  min-width: 150px;
  position: absolute;
  top: 10vh;
  list-style: none;
  text-align: start;
  border: inset 2px #fff;
}

.dropdown-menu li {
  background: #2a2b2b;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #4b4e4e;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
