* {
  margin: 0;
  padding: 0;
}

.footer {
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  position: relative;

  bottom: 100%;
  width: 100%;
}

.footer-container {
  margin: auto;
}

.footer-link {
  color: antiquewhite;
  text-decoration: none;
  margin: auto;
  font-family: monospace;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* @media screen and (max-width: 350px) {
  .footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
  }
} */
